<% data.stages.stages.each do |stageKey, stage| %>
  <% next unless (stage.dev_ops == dev_ops) %>
<%= "1. **#{stage.display_name}<a name=\"#{stageKey}\"></a>** \\| PM: [#{stage.pm}] \\| PMM: [#{stage.pmm}] \\| EM: [#{stage.engineering_manager}] \| FEM: [#{stage.frontend_engineering_manager}] \\| CM: [#{stage.cm}] \| TW: [#{stage.tech_writer}]" %>
	<% data.categories.each do |categoryKey, category| %>
    <% next unless (category.stage == stageKey) %>
    <% kbdElement = "" %>
    <% if category.available && (category.available.year == Date.today.year) %>
      <% kbdElement = (category.available.month <= Date.today.month) ? "<kbd>New in #{Date.today.year}</kbd>" : "<kbd>Planned #{Date.today.year}</kbd>" %>
    <% elsif category.available && (category.available.year > Date.today.year) %>
      <% kbdElement = "<kbd>Planned #{category.available.year}</kbd>" %>
    <% end %>
    <% categoryName = category.alt_link ? "[#{category.name}](#{category.alt_link})" :
      category.body ? "[#{category.name}](/product/#{categoryKey.dup.tr('_', '-')})" :
      category.name %>
  <%= "* #{categoryName} #{kbdElement ? kbdElement : ''}" %>
  <% end %>
	<%= "* Internal Customer".pluralize(stage.internal_customers.count) + ": " + stage.internal_customers.map{ |customer| "[#{customer}]" }.join(", ") if stage.internal_customers %>
<% end %>

[Jeremy Watson]: /team/#d3arWatson
[Fabio Busatto]: /team/#bikebilly
[Joshua Lambert]: /team/#joshlambert
[James Ramsay]: /team/#jamesramsay
[Victor Wu]: /team/#victorwuky
[Daniel Gruesso]: /team/#danielgruesso
[Andreas Kämmerle]: /team/#andreasmarc
[Jason Lenny]: /team/#j4lenn
[Jason Lenny (Interim)]: /team/#j4lenn
[Elliot Rushton]: /team/#ehxor
[Elliot Rushton (Interim)]: /team/#ehxor
[Dylan Griffith]: /team/#DylanGriffith
[Seth Engelhard]: /team/#sethengelhard
[Philippe Lafoucrière]: /team/#plafoucriere
[John Jeremiah]: /team/#j_jeremiah
[Cindy Blake]: /team/#cblake2000
[Liam McAndrew]: /team/#lmcandrew
[Tim Z (Interim)]: /team/#tpmtim
[Sean McGivern]: /team/#mcgivernsa
[André Luís]: /team/#andr3
[Douwe Maan]: /team/#DouweM
[William Chia]: /team/#thewilliamchia
[Marin Jankovski]: /team/#maxlazio
[Marin Jankovski (Interim)]: /team/#maxlazio
[Clement Ho]: /team/#ClemMakesApps
[Aricka Flowers]: /team/#arickaflowers
[Suri Patel]: /team/#suripatel
[Erica Lindberg]: /team/#EricaLindberg_
[Marcia Ramos]: /team/#XMDRamos
[Mike Lewis]: /team/#miketechnically
[Evan Read]: /team/#eread
[Axil]: /team/#_axil

[Quality Department]: /handbook/engineering/quality/
[Distribution Team]: /handbook/engineering/dev-backend/distribution/
[Release Managers]: /handbook/engineering/release-management/
[Site Availability Engineering]: /handbook/engineering/infrastructure/team/sae/
[Site Reliability Engineering]: /handbook/engineering/infrastructure/team/sre/
[Infrastructure Department]: /handbook/engineering/infrastructure/
[Security Department]: /handbook/engineering/security/
